* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: auto;
  margin: 0 100px;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #00000f;
  font-size: 44px;
}

.username {
  color: #3ECF8E;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-section {
  flex-basis: 50%;
  padding-right: 10px;
}

.right-section {
  flex-basis: 50%;
  padding-left: 10px;
}

.bottom-section {
  flex-basis: 100%;
  margin-top: 20px;
}

h2 {
  color: #5a5af3;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #5a5af3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #4343d8;
}

.transaction-list-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

#transaction-list {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#transaction-list th,
#transaction-list td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#transaction-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.income-row {
  background-color: #c8f7c5; /* Light green color */
}

.deduction-row {
  background-color: #f7c5c5; /* Light red color */
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.hidden {
  display: none;
}

.loading-message {
  text-align: center;
  margin-top: -15px;
  font-size: 20px;
  color: #f44336;
  font-weight: 700;
}

.graph-header {
  text-align: left;
  margin-top: 20px;
}

.bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.chart-container {
  background-color: #fff;
  padding: 20px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: auto;
}

#description-chart-container {
  flex: 1;
}

#description-chart {
  width: auto;
  height: 400px;
}

#description-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px; /* Increase the margin as desired */
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin as desired */
}

.color-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px; /* Adjust the margin as desired */
  border-radius: 50%;
}

.label-text {
  display: inline-block;
  font-size: 14px;
}

.label-percentage {
  display: inline-block;
  margin-left: 6px; /* Adjust the margin as desired */
  font-size: 14px;
  color: #888; /* Adjust the color as desired */
}
